


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<div class="container">
  <!-- fila -->
  <div class="row d-flex justify-content-center">
      <!-- columna, la única que tendremos en la página. Según el tamaño del dispositivo tendrá un ancho u otro-->
      <div class="col-lg-4 col-md-7 col-sm-12 mt-5 shadow-lg p-0">
          <!-- div que encapsula la "pantalla" que mostrará las operaciones que estamos realizando y el resultado-->
          <div class="bg-light mb-0 p-2">
              <p id="pantalla" class="my-0 text-end fs-5">{{texto}}</p>
          </div>
          <!-- div que encapsula el teclado de la calculadora, separo en dos divs el teclado porque tienen distinto número de elementos y quiero que se muestren
          uno al lado del otro, por tanto el padre será display flex (d-flex en bootstrap)-->
          <div class="d-flex">
              <!-- div con los números -->
              <div id="numeros" class="bg-secondary">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="7" (click)="asignanum('7')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="8" (click)="asignanum('8')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="9" (click)="asignanum('9')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="4" (click)="asignanum('4')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="5" (click)="asignanum('5')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="6" (click)="asignanum('6')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="1" (click)="asignanum('1')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="2" (click)="asignanum('2')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="3" (click)="asignanum('3')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="." (click)="asignanum('.')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="0" (click)="asignanum('0')">
                  <input type="button" class="btn numero m-0 bg-secondary text-light" value="00" (click)="asignanum('00')">
              </div>
              <!-- div con los botones para operar la calculadora -->
              <div id="botones" class="float-left">
                  <input id="borrar" type="button" class="btn operacion btn text-light" value="DEL" (click)="borrar()">
                  <input id="/" type="button" class="btn operacion btn text-light" value="/" (click)="operacion('/')">
                  <input id="*" type="button" class="btn operacion btn text-light" value="*" (click)="operacion('*')">
                  <input id="-" type="button" class="btn operacion btn text-light" value="-" (click)="operacion('-')">
                  <input id="+" type="button" class="btn operacion btn text-light" value="+" (click)="operacion('+')">
                  <input id="=" type="button" class="btn operacion btn text-light" value="=" (click)="calcular()">
              </div>
          </div>

      </div>
  </div>
</div>
